.bold {
  font-weight: bold;
}

label {
  display: block;
  margin: 2px;
  span {
    display: inline-block;
    min-width: 100px;
  }
}

input {
  min-width: 400px;
}

.items {
  &__index {
    color: #134b80;
  }
}
