<form [formGroup]="form">
  <button (click)="toggle()">{{ show ? 'Hide' : 'Show ' + form.get(control.queryLabel).value }}</button>
  <button (click)="start()">{{ inProgress ? 'In progress' : 'Start'}}</button>
  <ng-container *ngIf="show">
    <label>
      <span>Label</span>
      <input type="text" [formControl]="form.get(control.queryLabel)">
    </label>
    <label>
      <span>URL</span>
      <input type="text" [formControl]="form.get(control.queryUrl)">
    </label>

    <div class="bold">Items</div>
    <ng-container *ngIf="form.get(control.items).length">
      <ng-container *ngFor="let item of form.get(control.items).controls; let i = index">
        <div class="bold items__index"># {{ i }}</div>
        <form [formGroup]="item">
          <label>
            <span>Item label:</span>
            <input type="text" [formControl]="item.get(control.itemLabel)">
          </label>
          <label>
            <span>Item selector:</span>
            <input type="text" [formControl]="item.get(control.itemSelector)">
          </label>
          <label>
            <span>Read method:</span>
            <input type="text" [formControl]="item.get(control.itemReadMethod)">
          </label>
        </form>
      </ng-container>
    </ng-container>
  </ng-container>
</form>
