<div class="bold">Number of scrapes: {{ fetches }}, errors: {{ errors }}</div>
<app-configuration-form
  *ngFor="let config of configurations; let i = index;"
  [configuration]="config"
  (startScraping)="start(i)"
>
</app-configuration-form>

<div *ngIf="loading">Loading...</div>
<ng-container *ngIf="!loading">
  <app-result-viewer
    *ngFor="let result of results"
    [labels]="result.labels"
    [values]="result.values"
    [queryHash]="result.queryHash"
    (markAsSeen)="markAsSeen($event)"
  ></app-result-viewer>
</ng-container>
